DOTENV_CONFIG_QUIET="true"
FRONT_HOST=''
NODE_ENV="production"
DATABASE_URL="postgres://dev:password@localhost:5432/setters?schema=public"
JWT_REFRESH_TOKEN_SEC=""
GOOGLE_OAUTH_REFRESH_TOKEN=""
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REDIRECT_URI='https://developers.google.com/oauthplayground'
